
@{
    ViewData["Title"] = "Pedidos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Estilos{
    <!-- ============================================================
    =ESTILOS PARA ESTA PAGINA
    ===============================================================-->
    <link rel="stylesheet" href="~/vendor/datatables/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/vendor/datatables/extensiones/css/responsive.dataTables.min.css">
    <link rel="stylesheet" href="~/vendor/datatables/extensiones/css/buttons.dataTables.min.css">
}

<div class="content-wrapper">
    <!-- BUSQUEDA -->
    <div class="card mb-4">

        @if (ViewBag.Elegir)
        {
            <input id="Filtrada" name="Filtrada" type="checkbox" checked hidden />
            <input id="empFiltrada" name="empFiltrada" value="@ViewBag.EmpresaElegida" hidden />
            <input id="sucFiltrada" name="sucFiltrada" value="@ViewBag.SucursalElegida" hidden />
            <input id="radioFiltrada" name="radioFiltrada" value="@ViewBag.RadioElegida" hidden />
            <input id="fechaDesdeFiltrada" name="fechaDesdeFiltrada" value="@ViewBag.FechaDesdeElegida" hidden />
            <input id="fechaHastaFiltrada" name="fechaHastaFiltrada" value="@ViewBag.FechaHastaElegida" hidden />
        }

        <h5 class="card-header">Busqueda de Pedidos</h5>
        <br />
        <form asp-action="Index" asp-controller="Pedidos" method="post">
            <input id="userLogin" name="userLogin" value="@ViewBag.user" hidden />
            <input id="rolLogin" name="rolLogin" value="@ViewBag.rolLogin" hidden />

            <div class="card-body">
                <div class="row gx-3 gy-2 align-items-center">
                    @if (ViewBag.idEmpresaLogin == "0" && ViewBag.idSucursalLogin == "0") // soy SuperAdmin
                    {
                        <div class="d-grid gap-2 col-lg-6 mx-auto">
                            <label class="form-label" for="selectTypeOpt">Empresas</label>
                            <select id="cboEmpresas" name="cboEmpresas" class="form-select color-dropdown">
                            </select>
                        </div>

                        <div class="d-grid gap-2 col-lg-6 mx-auto">
                            <label class="form-label" for="selectPlacement">Sucursales</label>
                            <select class="form-select placement-dropdown" id="cboSucursales" name="cboSucursales">
                            </select>
                        </div>
                    }
                    else if (ViewBag.idSucursalLogin == "0") // Soy Admin de Sucursales
                    {
                        <div class="d-grid gap-2 col-lg-6 mx-auto">
                            <label class="form-label" for="selectPlacement">Sucursales</label>
                            <select class="form-select placement-dropdown" id="cboSucursales" name="cboSucursales">
                            </select>
                        </div>
                        <input id="cboEmpresas" name="cboEmpresas" value="@ViewBag.idEmpresaLogin" hidden />
                    }
                    else
                    { // Soy User
                        <input id="cboSucursales" name="cboSucursales" value="@ViewBag.idSucursalLogin" hidden />
                        <input id="cboEmpresas" name="cboEmpresas" value="@ViewBag.idEmpresaLogin" hidden />
                    }
                </div>

                <!-- Radio -->
                <div class="justify-content-center">
                    <div class="row gy-3">
                        <div class="col-xl-6">
                            <div class="demo-vertical-spacing">
                                <!-- Radio -->
                                <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                                    <input type="radio" class="btn-check" name="rbReporte" id="rbTodos" value="todos" />
                                    <label class="btn btn-outline-primary" for="rbTodos">Todos</label>
                                    <input type="radio" class="btn-check" name="rbReporte" id="rbHelados" value="helado" />
                                    <label class="btn btn-outline-primary" for="rbHelados">Helados</label>
                                    <input type="radio" class="btn-check" name="rbReporte" id="rbProductos" value="producto"/>
                                    <label class="btn btn-outline-primary" for="rbProductos">Productos</label>
                                    <input type="radio" class="btn-check" name="rbReporte" id="rbInsumos" value="insumo"/>
                                    <label class="btn btn-outline-primary" for="rbInsumos">Insumos</label>
                                    <input type="radio" class="btn-check" name="rbReporte" id="rbPasteleria" value="pasteleria"/>
                                    <label class="btn btn-outline-primary" for="rbPasteleria">Pasteleria</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /Radio -->

                <br />

                <!-- Date -->
                <div class="row gx-3 gy-2 align-items-center">
                    <div class="d-grid gap-2 col-lg-6 mx-auto">
                        <label for="form-label" class="form-label">Desde</label>
                        <input class="form-control" type="date" id="txtDesde" name="txtDesde" />
                    </div>

                    <div class="d-grid gap-2 col-lg-6 mx-auto">
                        <label for="form-label" class="form-label">Hasta</label>
                        <input class="form-control" type="date" id="txtHasta" name="txtHasta" />
                    </div>
                </div>
                <!-- /Date -->

                <br />


                <div class="row gx-3 gy-2 align-items-center">
                    <div class="d-grid gap-2 col-lg-6 mx-auto">
                        <button type="submit" class="btn btn-success" id="btnBuscar">Buscar</button>
                    </div>
                </div>


            </div>
        </form>
    </div>
    <!--/ BUSQUEDA -->


    <!-- TABLA -->
    <div class="card">
        @if (ViewBag.rolLogin == "1") // SOY USER?
        {
            <div class="card-body">
                <div class="demo-inline-spacing">
                    <button type="button" class="btn rounded-pill btn-success" id="btnHelado">Agregar Helado</button>
                    <button type="button" class="btn rounded-pill btn-success" id="btnProducto">Agregar Producto</button>
                    <button type="button" class="btn rounded-pill btn-success" id="btnInsumo">Agregar Insumo</button>
                    <button type="button" class="btn rounded-pill btn-success" id="btnPasteleria">Agregar Pasteleria</button>
                </div>
            </div>
        }

@*        <h5 class="card-header">RESULTADOS</h5>*@
        <div class="table-responsive text-nowrap" style="max-height: 400px; overflow-y:auto;">
            <table class="table" id="tbdata" >
                <thead>
                    <tr>
                        <th>Nro</th>
                        <th>Fecha</th>
                        <th>Pedido</th>
                        <th>Tipo</th>
                        <th>Estado</th>
                        <th>Cant.</th>
                        <th>Sucursal</th>
                        <th>Usuario</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody class="table-border-bottom-0">
                    @if (ViewBag.elementosEncontrados != null)
                    {
                        foreach (var items in ViewBag.elementosEncontrados)
                        {
                            <tr>
                                <td>@items.Id</td>
                                <td>@items.Created</td>
                                <td>@items.NumeroPedido</td>
                                <td>@items.Tipo</td>
                                <td><div class="pendiente">@items.Estado</div></td>
                                <td>@items.Cantidad</td>
                                <td>@items.NombreSucursal</td>
                                <td>@items.NombreUsuario</td>
                                <!------------------------------------------------->
                                <td>
                                    <div class="dropdown">
                                        <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                            <i class="bx bx-dots-vertical-rounded"></i>
                                        </button>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item btn-ver"><i class="bx bx-show"></i> Ver Detalles</a>
                                            <a class="dropdown-item btn-editar"><i class="bx bx-pencil"></i> Editar</a>
                                            <a class="dropdown-item btn-eliminar"><i class="bx bx-trash me-1"></i> Dar de Baja</a>
                                            <a class="dropdown-item btn-reporte"><i class="bx bx-file"></i> Reporte</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>

    </div>
    <!--/ TABLA -->

    <a id="Reporte" hidden> Reporte </a>
</div>


<!--  Modal-->
<div class="modal fade" id="modalData" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog" role="document" style="max-width: 70%">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="mb-0" id="titulo"></h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="table-responsive text-nowrap">
                        <table class="table" id="tbPedido">
                            <thead>
                                <tr>
                                    <th>Codigo</th>
                                    <th>Descripcion</th>
                                    <th>Categoria</th>
                                    <th>Cantidad</th>
                                    <th>Seleccionar</th>
                                </tr>
                            </thead>
                            <tbody class="table-border-bottom-0">
                            </tbody>
                        </table>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success btn-sm" type="button" id="btnGuardar">Guardar</button>
                <button class="btn btn-warning btn-sm" type="button" id="btnPendiente">Pendiente</button>
                <button class="btn btn-danger btn-sm" type="button" data-dismiss="modal" id="CerrarModal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<!--  Modal VER-->
<div class="modal fade" id="modalDataVer" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog" role="document" style="max-width: 70%">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="mb-0" id="titulo">Detalle del Pedido</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="table-responsive text-nowrap">
                        <table class="table" id="tbPedidoVer">
                            <thead>
                                <tr>
                                    <th>Codigo</th>
                                    <th>Descripcion</th>
                                    <th>Categoria</th>
                                    <th>Cantidad</th>
                                </tr>
                            </thead>
                            <tbody class="table-border-bottom-0">
                            </tbody>
                        </table>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger btn-sm" type="button" data-dismiss="modal" id="CerrarModalVer">Salir</button>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <!-- ============================================================
    =SCRIPTS PARA ESTA PAGINA
    ===============================================================-->
    <script src="~/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <script src="~/vendor/datatables/extensiones/js/dataTables.responsive.min.js"></script>

    <script src="~/vendor/datatables/extensiones/js/dataTables.buttons.min.js"></script>
    <script src="~/vendor/datatables/extensiones/js/jszip.min.js"></script>
    <script src="~/vendor/datatables/extensiones/js/buttons.html5.min.js"></script>
    <script src="~/vendor/datatables/extensiones/js/buttons.print.min.js"></script>

    <script src="~/js/vistas/Pedidos_Index.js"></script>
}

